ion-content,
ion-item,
ion-list,
ion-toolbar {
  --background: @apply bg-gray-900;
}

ion-textarea {
  max-height: 100px;
  height: 10px;
  overflow-y: hidden;
}

.text{
  font-size: 100;
}

ion-title{
  font-weight: 200;
}

.share{
  margin-left: 250px;
}

.sync{
  margin-top: 20px;
}

.footer{
  font-size: .75rem;
  text-align: center;
}
